:root {
  --gradient-purple-light: linear-gradient(
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  --gradient-purple-dark: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  --yellow: hsl(40, 100%, 56%);
  --yellow-light: hsl(40, 100%, 56%, 0.05);
  --green: hsl(166, 100%, 37%);
  --green-light: hsl(166, 100%, 37%, 0.05);
  --red: hsl(0, 100%, 67%);
  --red-light: hsl(0, 100%, 67%, 0.05);
  --blue: hsl(234, 85%, 45%);
  --blue-light: hsl(234, 85%, 45%, 0.05);
  --dark-navy: hsl(223, 30%, 27%);
  --light-blue: hsl(241, 100%, 89%);
  --very-ligh-blue: hsl(220, 100%, 96%);
  --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Hanken Grotesk, sans-serif;
  font-weight: 500;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--very-ligh-blue);
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  line-height: 1.2;
  font-weight: 800;
  margin: 0;
}

h3 {
  font-size: 1.125rem;
  font-weight: 600;
  padding-block: 1.5rem;
}

p {
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 500;
  margin-block: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
