.button {
  font-size: var(--fs-7);
  font-weight: 700;
  line-height: 1.5;
  padding: 10.5px 24px;
  border-radius: 28px;
}

.button.dark {
  background-color: var(--color-blue-900);
  color: var(--color-white);
}
