.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
}

.header .logo {
  width: 5rem;
}

@media (width >= 50.625rem) {
  .header {
    padding-block: 1.4rem;
  }
}
