.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
}

.logo {
  width: 5rem;
}

@media (width >= 50.625rem) {
  .header {
    padding-block: 1.4rem;
  }
}

@media (width >= 75rem) {
  .logo {
    width: 6.9375rem;
  }
}
