.hero {
  display: grid;
  row-gap: 3rem;
  column-gap: 1.5rem;
  padding-block: 4rem;
}

.hero h1 {
  font-size: var(--fs-1);
  color: var(--color-blue-900);
}

.hero p {
  margin-block: 1.5rem 2.5rem;
}

.hero picture {
  max-width: 37.5rem;
  justify-self: center;
  margin-left: -20px;
  margin-right: -20px;
}

@media (width >= 50.625rem) {
  .hero {
    grid-template-columns: repeat(2, 1fr);
    position: relative;
  }

  .hero picture {
    max-width: 45rem;
    position: absolute;
    right: 0;
    translate: 42% -25%;
    margin-left: 0;
    margin-right: 0;
  }

  .hero__text {
    padding-block: 2.625rem;
    padding-inline-end: 0;
  }
}

@media (width >= 75rem) {
}
